.ColorBox {
    width: 20%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -6px;
    height: 25%;
}

.copy-button, .back-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
    transition: 0.4s;
    cursor: inherit;
    text-decoration: none;
}

.back-button {
    color: white;
}

.copy-button {
    opacity: 0;
}

.ColorBox:hover .copy-button {
    opacity: 1;
}

.ColorBox .box-content {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.see-more {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    text-align: right;
    padding: 10px;
    right: 0;
    bottom: 0;
    border: none;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.copy-overlay {
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: scale(0.1);
    background: inherit;
}

.copy-overlay.show {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;
}

.copy-message {
    position: fixed;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transform: scale(0);
    color: white;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.ColorBox .copy-message.show {
    opacity: 1;
    transform: scale(1);
    z-index: 15;
}

.copy-message h1 {
    font-weight: 400;
    text-shadow: 2px 3px black;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    padding: 1rem;
}

.copy-message p {
    font-weight: 100;
    font-size: 2rem;
}

.ColorBox.go-back {
    background-color: black;
    height: 50%;
}

.SingleColorPalette .ColorBox {
    height: 50%;
}

/* medium screens */

@media screen and (max-width: 992px) {
    .ColorBox {
        width: 50%;
        height: 10%;
    }
    .SingleColorPalette .ColorBox {
        height: 20%;
    }
}

/* small screens */

@media screen and (max-width: 576px) {
    .ColorBox {
        width: 100%;
        height: 5%;
    }
    .SingleColorPalette .ColorBox {
        height: 10%;
    }
    .see-more {
        padding: 4px;
    }
    .copy-button {
        height: 20px;
        line-height: 20px;
        margin-top: -10px;
    }
    .copy-message h1{
        font-size: 5rem;
    }
}