.DraggableColorBox {
    width: 20%;
    height: 20%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -5px;
    box-sizing: border-box;
}